/* цвет основного текста серый #757575 */
/* цвет текста вторичный черный #212121 */
/* цвет ссылок в шапке и почты #2196F3 */
/* цвет в герое и футере адреса белый #FFFFFF */
/* цвет в футере почты и телефона rgba(255, 255, 255, 0.6); */
/* цвет основного background: F5F4FA */
:root {
  --text-color: #757575;
  --text-title-color: #212121;
  --accent-color: #2196f3;
  --bg-color: #ffffff;
}
body {
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: var(--bg-color);
}
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo-hdr {
  color: #000000;
}
/* Стиль навигации сайта */
.site-nav {
  list-style: none;
  letter-spacing: 0.02em;
}
.site-nav .link {
  color: var(--text-title-color);
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
  color: var(--accent-color);
}
.mail-tel-hdr {
  list-style: none;
  letter-spacing: 0.02em;
}
.mail-tel-hdr .link {
  color: var(--text-title-color);
  text-decoration: none;
}
.mail-tel-hdr .link:hover,
.mail-tel-hdr .link:hover {
  color: var(--accent-color);
}
/* Hero style */
.hero {
  color: #ffffff;
  background-color: #2f303a;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-title {
  /* color: #ffffff; */
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
}
.hero-btn {
  color: #ffffff;
  background-color: var(--accent-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.9;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-color);
}
/* feature style */
.feature {
}
.feature-list {
}
.feature-item {
}
.feature-title {
}
.feature-item-txt {
}
/* services provided style */
.servis-title {
}

/* team style */
.team-title {
}
.team-list {
}
.team-name {
}
.team-prof {
}
/* footer style */
.logo-ftr {
}
