body {
  color: #212121;
}
/* цвет основного текста серый #757575 */
/* цвет основного текста вторичный черный #212121 */
/* цвет ссылок в шапке #2196F3 */
/* цвет акцента ховера #188CE8 */
/* цвет в герое и футере адреса белый #FFFFFF */
/* цвет в футере почты и телефона rgba(255, 255, 255, 0.6); */
/* background: #2F303A; в ГЕРОЕ */
